# MakeCode
built
node_modules
yotta_modules
yotta_targets
pxt_modules
.pxt
_site
*.db
*.tgz
.header.json
.simstate.json
.gradle/
build/
local.properties
.idea/
*.iml
*.ipr
*.iws
*.idea/workspace.xml
*.idea/tasks.xml
*.idea/gradle.xml
*.idea/assetWizardSettings.xml
*.idea/dictionaries
*.idea/libraries
*.idea/caches
.local.properties

